body
{
    background-image: url(saewalll.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    
}

.rounded
{
    background-image: url(ohme.jpeg);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    border: 1px  solid rgb(99, 91, 91);
    box-shadow: 0 0 10p rgb(61, 58, 58);
    
}
.name
{
    text-align: center;
    font-style: arial;
    font-size: 25;
    color: rgb(10, 37, 37);
}

.b
{   /*
    height: 40px;
    width: 100px;
    background-color: rgb(89, 181, 218);
    border-radius: 40%;
    border-color:rgb(99, 91, 91);
    border: thick double #32a1ce;*/
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 25%;
}