body
{   
    margin:50;
    padding: 0;
    text-align: left;
    text-indent: 1in;
    position: absolute;
    top: 10%;
    left: 13%;
    background: hsl(162, 56%, 89%);
    font-size: 14pt;
    -moz-box-shadow: 0 0 10px #777777; 
	-webkit-box-shadow: 0 0 10px #777777;
	box-shadow: 0 0 10px #777777;
}


.img-me
{
    height: 150px;
    float: right;
    margin-top: 15px;
    margin-right: 1in;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 5px;
	-webkit-box-shadow: 0 0 10px #777777;
	box-shadow: 0 0 10px #777777; 
    
}


